name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Format
        run: cargo fmt && git diff --exit-code
      - name: Lint
        run: |
          rustup update
          rustup component add clippy
          cargo clippy -- -D warnings

  build-msrv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Toolchain
      run: rustup install 1.64.0

    - name: Build
      run: |
        cargo +1.64.0 build

  build-stable:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Toolchain
      run: rustup update

    - name: Build
      run: cargo build
