on:
  release:
    types:
      - published

name: release

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    environment:
      name: crates.io
      url: https://crates.io/crates/toml2json

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@e919bc7605cde86df457cf5b93c5e103838bd879 # v1.0.1
        id: auth

      - name: publish to crates.io
        run: cargo publish -p zizmor
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
