on:
  release:
    types:
      - published

name: release to crates.io

permissions: {}

jobs:
  crates:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for trusted publishing

    environment:
      name: crates.io
      url: https://crates.io/crates/toml2json

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
